@import "../core.scss";

.single {
  background-color: $black;
  .main-wrapper {
    padding: 0;
    @include minw($tablet) {
      padding: 0 0 0 60px;
    }
    @include minw($full-hd) {
      padding: 0 0 0 80px;
    }
  }
  .header-social {
    border-color: $white;
    &::before {
      background-color: $white;
      height: 100px;
    }
  }
  .header-social__list {
    border-color: $white;
  }
  .header-social__link {
    fill: $white;
  }
  .header-social__subnav {
    color: $white;
    li {
      a {
        &::before {
          background-color: $white;
        }
      }
    }
  }
  &-banner {
    padding: 28% 0 12%;
    color: $white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 15px 15px 0;
    @include minw($tablet) {
      padding: 12% 0 28%;
      height: 60vw;
      margin: 0;
    }
    @include minw($pc) {
      padding: 7% 0 0 0;
      height: 41vw;
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.7);
    }
    .container {
      position: relative;
      z-index: 1;
    }
  }
  &__category {
    font-size: 14px;
    line-height: 1.142em;
    position: relative;
    padding-left: 33px;
    font-weight: 500;
    margin-bottom: 19px;
    @include minw($tablet) {
      font-size: 16px;
    }
    @include minw($lg) {
      font-size: 18px;
      margin-bottom: 30px;
    }
    @include minw($full-hd) {
      font-size: 21px;
      margin-bottom: 50px;
    }
    span {
      color: $primary;
      font-size: 45px;
      font-weight: 500;
      position: absolute;
      top: 3px;
      left: 2px;
    }
  }
  &-video {
    z-index: 100;
  }
  &-gallery {
    z-index: 100;
    cursor: grab;
  }
}

.video {
  height: 50vw;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: none;
  &-item {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: none;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($black, 0.4);
    }
    img {
      height: 100%;
      object-fit: cover;
    }
    iframe {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
  }

  &-btn {
    display: none;

    @include minw($tablet) {
      display: block;
      position: absolute;
      background-color: $white;
      border-radius: 50%;
      top: 0;
      left: 0;
      width: 180px;
      height: 180px;
      opacity: 0;
      z-index: 10;
      transition: opacity 0.3s ease-out;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../images/play.svg);
    }
    &_mob {
      width: 100px;
      height: 100px;
      background-color: $white;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      @include minw($tablet) {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(../images/play.svg);
      }
    }
  }
}
.gallery {
  &__item {
    aspect-ratio: 1/1;
    position: relative;
    display: inline-block;
    flex: 0 0 50%;
    max-width: 50%;
    @include minw($sm-tablet) {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
    @include minw($tablet) {
      flex: 0 0 25%;
      max-width: 25%;
    }
    @include minw($pc) {
      flex: 0 0 20%;
      max-width: 20%;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
