@import "../core.scss";

.works-hero {
  padding: 130px 0 50px;

  @include minw($tablet) {
    padding: 150px 0 40px;
  }
  @include minw($lg) {
    padding: 175px 0 60px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
    flex-wrap: wrap;
  }
  &__col {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    @include minw($sm-tablet) {
      &:first-child {
        flex: 0 0 33%;
        max-width: 33%;
      }
      &:last-child {
        flex: 0 0 67%;
        max-width: 67%;
      }
    }
  }
  &__title {
    position: relative;
    margin-bottom: 60px;
    margin-left: 20px;
    @include minw($sm-tablet) {
      margin-bottom: 0;
      margin-left: 0;
    }
    &::before {
      content: "";
      width: 110%;
      height: 110%;
      background-image: url("../images/work-lines.svg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 60%;
      left: 53%;
      transform: translate(-50%, -50%);
      @include minw($sm-tablet) {
        left: 50%;
      }
    }
  }
  &__list {
    // font-weight: 600;
    font-weight: 500;
    font-size: 28px;
    @include minw($mob) {
      font-size: 32px;
    }
    @include minw($lg-mob) {
      font-size: 36px;
    }
    @include minw($lg) {
      font-size: 44px;
    }
    @include minw($full-hd) {
      font-size: 54px;
    }
  }
  &__item {
    position: relative;
    line-height: 1.296em;
    padding-left: 80px;
    color: $primary;

    &.active {
      color: $primary;
    }
    @include minw($sm-tablet) {
      padding-left: 70px;
      color: $black;
    }
    &:first-child {
      &:before {
        transform: rotate(-45deg) translate(0, -50%);
      }
    }
    &:last-child {
      &:before {
        transform: rotate(45deg) translate(0, -50%);
      }
    }
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/arrow-orange.svg");
      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: top;
      transform: translate(0, -50%);
      @include minw($sm-tablet) {
        width: 40px;
        height: 40px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 21px;
      @include minw($full-hd) {
        margin-bottom: 48px;
      }
    }
  }
  &__link {
    position: relative;
    transition: color $hover;

    &::after {
      content: "";
      height: 2px;
      background-color: $primary;
      width: 0;
      position: absolute;
      bottom: 0.2em;
      left: 0;
      transition: width $hover;
    }
    &:hover {
      color: $primary;
      &::after {
        width: 100%;
      }
    }
  }
}

.case {
  padding-top: 33px;
  &-category {
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 40px;
      @include minw($sm-pc) {
        margin-bottom: 70px;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 35px;
      position: relative;
      transition: color $hover;

      svg {
        fill: $black-800;
        width: 30px;
        margin-right: 20px;
        position: relative;
        transition:
          fill $hover,
          transform $hover;
        @include minw($sm-pc) {
          width: 40px;
          margin-right: 40px;
        }
      }
      &:hover {
        color: $primary;
        svg {
          fill: $primary;
          transform: translate(10px, 0);
        }
      }
    }
    &__row {
      @include minw($sm-tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-auto-flow: dense;
      }
    }
  }
  &-card {
    display: block;
    position: relative;
    grid-area: auto;
    &:nth-child(6n + 1) {
      grid-area: auto / 1 / auto / 2;
      aspect-ratio: 2/1;
    }
    &:nth-child(6n + 2) {
      grid-area: auto / 2 / span 2 / 3;
      aspect-ratio: 1/1;
    }
    &:nth-child(6n + 3) {
      grid-area: span 1 / 1 / span 1 / 2;
      aspect-ratio: 2/1;
    }
    &:nth-child(6n + 4) {
      grid-area: span 2 / 1 / span 3 / 2;
      aspect-ratio: 1/1;
    }
    &:nth-child(6n + 5) {
      grid-area: span 1 / 2 / span 1 / 3;
      aspect-ratio: 2/1;
    }
    &:nth-child(6n + 6) {
      grid-area: span 1 / 2 / span 1 / 3;
      aspect-ratio: 2/1;
    }
    &::before {
      content: "";
      width: 100%;
      height: 25%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
    &:hover {
      .case-card__title {
        color: $primary;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
    }
    &__title {
      color: $white;
      position: absolute;
      font-weight: 500;
      top: 16px;
      left: 16px;
      font-size: 16px;
      line-height: 1.125em;
      z-index: 1;
      transition: color $hover;
    }
  }
}
div.case-category__title {
  pointer-events: none;
}
